/* events.css'e ekle */
.visibility-filter-container {
  margin-top: 15px;
  padding: 15px 0;
  border-top: 1px solid #e0e0e0;
  font-family: "Sansation", sans-serif !important;
  font-size: 15px;
}

.visibility-filter-container label {
  display: block;
  font-family: "Sansation", sans-serif;
  margin-bottom: 8px;
  font-weight: 500;
  color: #fafafa !important ;
}

.my-select__control {
  min-height: 40px;
  border: 2px solid #e0e0e0 !important;
  border-radius: 8px;
  padding: 10px;
  width: 50%;
}

.my-select__control--is-focused {
  border-color: #007bff;
  box-shadow: 0 0 0 1px #007bff;
}

.my-select__multi-value {
  background-color: #f8f9fa !important;
  border-radius: 10px !important;
  padding: 5px;
  margin: 3px !important;
}
.my-select__multi-value__label {
  color: #495057 !important;
  font-size: 14px !important;
}

.my-select__multi-value__remove:hover {
  background-color: #dc3545;
  color: white;
}
